@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
body{
    height: 100vh;
}
.container{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
}
input[type=text], input[type=password]{
    width: 85%;
    font-size: 14px;
    padding: 16px 24px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
}
input[type=submit]{
    width: 85%;
    background-color: #512DA8;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5rem;
}
.field{
    margin-top: 4rem;
}

.logo{
    height: 200px;
    width: 200px;
}

