body
{
    margin: 0;
}
.nav nav
{
    position: absolute;
    background-color: rgb(235, 235, 235);
    height: 100%;
}
.container
{
    margin: 0 0 0 180px;
    position: absolute;
}

.nav ul
{
    width: 175px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav li
{
    width: 150px;
    display: block;

}

.nav li a
{
    margin: 0;
    padding: 5px;
    display: inline;

    background-color: rgb(168, 168, 168);
}
.nav li a:hover
{
    background-color: rgb(136, 136, 136);
}

/*
table, td
{
    border: 1px black solid;
}
label
{
    display: block;
}
*/